<mat-toolbar class="view gradient-card-header blue darken-2" style="padding:3%!important" color="primary">
  <span>
    Années Scolaires
  </span>
</mat-toolbar>
<section class="mt-5">
  <mat-card>
    <table mat-table [dataSource]="dataSource" class="w-100" id="matiereListe">
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Numeros</th>
        <td mat-cell *matCellDef="let _ann" class="text-center"> {{_ann.AnneeScolaireID}}</td>
      </ng-container>
      <ng-container matColumnDef="debut">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Début</th>
        <td mat-cell *matCellDef="let _ann" class="text-center"> {{_ann.date_debut | date: 'dd/MM/yyyy' }}</td>
      </ng-container>
      <ng-container matColumnDef="fin">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Fin</th>
        <td mat-cell *matCellDef="let _ann" class="text-center"> {{_ann.date_fin | date: 'dd/MM/yyyy' }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card>
</section>
<app-sk-loading *ngIf="loading"></app-sk-loading>