<mat-toolbar  class="view gradient-card-header blue darken-2" style="padding:3%!important" color="primary">
  <span class="text-center w-100">
    Liste des Etablissement
  </span>
  <button class="tz-btn-circle m-1 rounded-circle relative waves-light text-center"
          style="background: #a6c!important;color: aliceblue;" color="secondary" routerLink="/menu/add-ets"
          type="button" mdbBtn
          mdbWavesEffect>
    <i class="fa fa-plus-circle"></i>
    Ajout une salle
  </button>
</mat-toolbar>

<section class="mt-5">
  <mat-card>
  <div class="table-responsive">
    <table mat-table [dataSource]="dataSource" class="w-100" id="matiereListe">
      <!-- Position Column -->
      <ng-container matColumnDef="matricule">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Etablissement </th>
        <td mat-cell *matCellDef="let _ets" class="text-center"> {{_ets.ets_nom}}</td>
      </ng-container>
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Contact </th>
        <td mat-cell *matCellDef="let _ets" class="text-center"> {{_ets.ets_contact}}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Action</th>
        <td mat-cell *matCellDef="let _ets" class="text-center">
          <a mdbBtn class="tz-btn-circle m-1 rounded-circle relative waves-light" color="info">
            <i class="fa fa-link"></i>
          </a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card>
</section>

