<mat-toolbar  class="view gradient-card-header blue darken-2" style="padding:3%!important" color="primary">
  <span>
    Liste des Matieres
  </span>
  <span fxFlex></span>
  <a mdbBtn *ngIf="!etudiant &&!profs"  [routerLink]="['/menu/add-matiere']"
     mdbTooltip="Ajouter un matiere" placement="left"
     class="tz-btn-circle m-1 rounded-circle relative waves-light text-center" style="background: #a6c!important;color: aliceblue;"  color="secondary" mdbWavesEffect>
    <i class="fa fa-plus-circle"></i>
  </a>
</mat-toolbar>

<section class="mt-5">
  <mat-card>
    <div class="row p-2">
      <div class="col-md-12"  *ngIf="etudiant && profs">
        <mat-form-field class="w-100">
          <input  class="w-100" matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
      <div class="col-md-6"  *ngIf="!etudiant && !profs">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
      <div class="col-md-6 text-right" *ngIf="!etudiant && !profs">
        <button class="btn btn-primary" (click)="exportCsv()">Export to CSV</button>
        <button class="btn btn-success" (click)="exportAsXLSX()">Export to XLS</button>
        <button class="btn btn-secondary" (click)="exportPdf()">Export to pdf</button>
      </div>
    </div>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="w-100" id="matiereListe">
        <!-- Position Column -->
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Nom matiere</th>
          <td mat-cell *matCellDef="let _matiere" class="text-center"> {{_matiere.description}}</td>
        </ng-container>
        <ng-container matColumnDef="coefficient">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Coefficient</th>
          <td mat-cell *matCellDef="let _matiere" class="text-center"> {{_matiere.coefficient}}</td>
        </ng-container>
        <ng-container matColumnDef="class"  *ngIf="!etudiant">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Classe</th>
          <td mat-cell *matCellDef="let _matiere" class="text-center"> {{_matiere.classe.description}}</td>
        </ng-container>
        <ng-container matColumnDef="prof">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Prof</th>
          <td mat-cell *matCellDef="let _matiere" class="text-center"> {{_matiere.profId ? _matiere.profId.lastname :
            ''}}
          </td>
        </ng-container>
        <ng-container matColumnDef="action" *ngIf="!etudiant">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Action</th>
          <td mat-cell *matCellDef="let _matiere" class="text-center">
            <a mdbBtn data-toggle="modal" (click)="detailsModal.show()" data-target="#detailsModal"
               mdbTooltip="Voir details du matiere {{_matiere.description}}" placement="top"
               class="tz-btn-circle m-1 rounded-circle relative waves-light" color="info">
              <i class="fa fa-eye"></i>
            </a>
            <!--modal details-->
            <div mdbModal #detailsModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
                 aria-labelledby="myBasicModalLabel"
                 [config]="{backdrop: false, ignoreBackdropClick: false}" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <h2 class="tz-dialog-title"  mat-dialog-title>
                    {{_matiere.description}}
                    <i class="fa fa-book"></i>
                  </h2>
                  <mat-dialog-content>
                    <ul class="list-group">
                      <li class="list-group-item">
                        <table>
                          <tr>
                            <td>Nom matiere : </td>
                            <td>{{_matiere.description}}</td>
                          </tr>
                        </table>
                      </li>
                      <li class="list-group-item">
                        <table>
                          <tr>
                            <td>Coefficient : </td>
                            <td>{{_matiere.coefficient}}</td>
                          </tr>
                        </table>
                      </li>
                      <li class="list-group-item" *ngIf="!etudiant">
                        <table>
                          <tr>
                            <td>Classe : </td>
                            <td>{{_matiere.classe.description}}</td>
                          </tr>
                        </table>
                      </li>
                      <li class="list-group-item">
                        <table>
                          <tr>
                            <td>Profs : </td>
                            <td>{{_matiere.profId ? _matiere.profId.lastname : ''}}</td>
                          </tr>
                        </table>
                      </li>
                    </ul>

                    <button type="button" mdbBtn class="d-block tz-modal-close-btn"
                            color="secondary" (click)="detailsModal.hide()"mdbWavesEffect>
                      Fermer
                    </button>
                  </mat-dialog-content>
                </div>
              </div>
            </div>
            <!--fin modal details-->
            <a mdbBtn *ngIf="!etudiant && !profs"
               class=" tz-btn-circle  m-1 relative waves-light" color="success" routerLinkActive="active-link"
               mdbTooltip="Modifier le matiere {{_matiere.description}}" placement="top"
               routerLink="/menu/add-matiere/{{_matiere.id}}">
              <i class="fa fa-edit"></i>
            </a>
            <a mdbBtn *ngIf="!etudiant &&  !profs" data-toggle="modal" data-target="#detailsModal" (click)="deleteModal.show()"
               mdbTooltip="Supprimer le matiere {{_matiere.description}}" placement="top"
               class=" tz-btn-circle  m-1 relative waves-light" color="danger">
              <i class="fa fa-trash"></i>
            </a>
            <!--modal delete-->
            <div mdbModal #deleteModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
                 [config]="{backdrop: false, ignoreBackdropClick: false}" aria-hidden="true"
                 aria-labelledby="myBasicModalLabel">
              <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close pull-right" aria-label="Close"
                            (click)="deleteModal.hide()">
                      <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title w-100">Supprimer <i class="fa fa-home"></i>
                    </h4>
                  </div>
                  <div class="modal-body d-flex">
                    <button type="button" mdbBtn color="secondary" class="waves-light w-50"
                            aria-label="Close" (click)="deleteModal.hide()" mdbWavesEffect>Cancel
                    </button>
                    <button type="button" mdbBtn color="primary"
                            class="relative waves-light w-50 mt-2 h-50" mdbWavesEffect
                            (click)="deleteMatiere(_matiere.id)">Confirm
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!--fin modal delete-->
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card>
</section>
<app-sk-loading *ngIf="loading"></app-sk-loading>
