<ng-template #matCard let-close="close">
  <div>
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
    <mat-form-field class="col-md-12">
      <mat-select placeholder="Classe" name="class" required [(ngModel)]="emploie.classe" #classes="ngModel">
        <mat-option *ngFor="let classes of classe" [value]="classes.id">
          {{emploie.classe}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-md-12">
      <mat-select placeholder="Matiere" name="matiere" [(ngModel)]="emploie.title" required #title="ngModel">
        <mat-option *ngFor="let matiere of listMatiere" [value]="matiere.description">
          {{modalData?.event.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-md-12">
      <input matInput
             [owlDateTimeTrigger]="dt12"
             [owlDateTime]="dt12" name="dateDebut"
             [(ngModel)]="emploie.start"
             placeholder="date début"
             required  #start="ngModel">
      <owl-date-time #dt12></owl-date-time>
    </mat-form-field>
    <mat-form-field class="col-md-12">
      <input matInput
             [owlDateTimeTrigger]="dt14"
             [owlDateTime]="dt14" name="dateFin"
             [(ngModel)]="emploie.end"
             placeholder="date fin"
             required  #end="ngModel">
      <owl-date-time #dt14></owl-date-time>
    </mat-form-field>
  </div>
  <div>
    <button type="button" class="btn btn-outline-secondary" (click)="editEdt(); close()">Edit</button>
  </div>
</ng-template>

<div class="table-responsive">
<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
              class="btn btn-primary"
              mwlCalendarPreviousView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="activeDayIsOpen = false">
        Previous
      </div>
      <div
              class="btn btn-outline-secondary"
              mwlCalendarToday
              [(viewDate)]="viewDate">
        Today
      </div>
      <div
              class="btn btn-primary"
              mwlCalendarNextView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="activeDayIsOpen = false">
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
              class="btn btn-primary"
              (click)="view = CalendarView.Month"
              [class.active]="view === CalendarView.Month">
        Month
      </div>
      <div
              class="btn btn-primary"
              (click)="view = CalendarView.Week"
              [class.active]="view === CalendarView.Week">
        Week
      </div>
      <div
              class="btn btn-primary"
              (click)="view = CalendarView.Day"
              [class.active]="view === CalendarView.Day">
        Day
      </div>
    </div>
  </div>
</div>
<br>
<div [ngSwitch]="view">
  <mwl-calendar-month-view
          *ngSwitchCase="CalendarView.Month"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          [activeDayIsOpen]="activeDayIsOpen"
          (dayClicked)="dayClicked($event.day)"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
          *ngSwitchCase="CalendarView.Week"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
          *ngSwitchCase="CalendarView.Day"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-day-view>
</div>

<br><br><br>

<h3>
  Emploie du temps
  <button  *ngIf="!etudiant"
          class="btn btn-primary pull-right"
          (click)="addEvent()">
    Ajouter
  </button>
  <div class="clearfix"></div>
</h3>

<div class="table-responsive">
  <table class="table table-bordered" *ngIf="list">
    <thead>
    <tr>
      <th class="text-center">Matière</th>
      <th class="text-center">Début</th>
      <th class="text-center">Fin</th>
      <th *ngIf="!etudiant" class="text-center">Action</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events">
        <td class="text-center">{{event.title}}</td>
        <td class="text-center">{{event.start | date:'medium' }}</td>
        <td class="text-center">{{event.end   | date:'medium' }}</td>
        <td *ngIf="!etudiant">
          <a mdbBtn data-toggle="modal" data-target="#deleteModal" (click)="deleteModal.show()"
             class=" tz-btn-circle  m-1 relative waves-light" color="danger">
            <i class="fa fa-trash"></i>
          </a>
          <div mdbModal #deleteModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
               [config]="{backdrop: false, ignoreBackdropClick: false}" aria-hidden="true"
               aria-labelledby="myBasicModalLabel">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close pull-right" aria-label="Close"
                          (click)="deleteModal.hide()">
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title w-100">Supprimer ? </h4>
                </div>
                <div class="modal-body d-flex">
                  <button type="button" mdbBtn color="secondary" class="waves-light w-50"
                          aria-label="Close" (click)="deleteModal.hide()" mdbWavesEffect>Non
                  </button>
                  <button type="button" mdbBtn color="primary"
                          class="relative waves-light w-50 mt-2 h-50" mdbWavesEffect
                          (click)="deleteEdt(event.id)">Oui
                  </button>
                </div>
              </div>
            </div>
          </div>

          <a mdbBtn data-toggle="modal" data-target="#deleteModal" (click)="editModal.show()"
             class=" tz-btn-circle  m-1 relative waves-light" color="success">
            <i class="fa fa-edit"></i>
          </a>
          <div mdbModal #editModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
               aria-labelledby="myBasicModalLabel"
               [config]="{backdrop: false, ignoreBackdropClick: false}" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close pull-right" aria-label="Close" (click)="editModal.hide()">
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title w-100">{{event.title}} <i class="fa fa-home"></i></h4>
                </div>
                <div class="modal-body">
                  <form action="">
                    <mat-form-field class="col-md-12">
                      <mat-select placeholder="Matiere" name="matiere" [(ngModel)]="emploie.title" required #title="ngModel">
                        <mat-option *ngFor="let matiere of listMatiere" [value]="matiere.description">
                          {{matiere.description}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-md-12">
                      <input matInput
                             [owlDateTimeTrigger]="dt12"
                             [owlDateTime]="dt12" name="dateDebut"
                             [(ngModel)]="emploie.start"
                             value="{{event.start}}"
                             required
                             autocomplete="off"
                             #start="ngModel">
                      <owl-date-time #dt12></owl-date-time>
                    </mat-form-field>
                    <mat-form-field class="col-md-12">
                      <input matInput
                             [owlDateTimeTrigger]="dt14"
                             [owlDateTime]="dt14" name="dateFin"
                             [(ngModel)]="emploie.end"
                             value="{{event.end}}"
                             required
                             autocomplete="off"
                             #end="ngModel">
                      <owl-date-time #dt14></owl-date-time>
                    </mat-form-field>
                    <div class="text-center w-100">
                      <a class="btn btn-success btn-rounded float-right" type="submit"
                         style="width: 35%"
                         (click)="editModal.hide();editEvent(
                         id=event.id,
                         titre=emploie.title,
                         debut=emploie.start,
                         fin=emploie.end
                         )">Modifier</a>
                      <a routerLink="/menu/salle" (click)="editModal.hide()"
                         class="btn btn-warning btn-rounded float-left" style="width: 35%" type="submit">Cancel</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  <tr *ngIf="add">
      <td>
        <mat-form-field class="col-md-12">
          <mat-select placeholder="Matiere" name="matiere" [(ngModel)]="emploie.title" required #title="ngModel">
            <mat-option *ngFor="let matiere of listMatiere" [value]="matiere.description">
              {{matiere.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="col-md-12">
          <input matInput
                 [owlDateTimeTrigger]="dt12"
                 [owlDateTime]="dt12" name="dateDebut"
                 [(ngModel)]="emploie.start"
                 placeholder="date début"
                 autocomplete="off"
                 required  #start="ngModel">
          <owl-date-time #dt12></owl-date-time>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="col-md-12">
          <input matInput
                 [owlDateTimeTrigger]="dt14"
                 [owlDateTime]="dt14" name="dateFin"
                 [(ngModel)]="emploie.end"
                 autocomplete="off"
                 placeholder="date fin"
                 required  #end="ngModel">
          <owl-date-time #dt14></owl-date-time>
        </mat-form-field>
      </td>
      <td>
        <button
                class="btn btn-success"
                (click)="addEdt(emploie);">
          Ajouter
        </button>
      </td>
    </tr>

</div>
<app-sk-loading *ngIf="loading"></app-sk-loading>
