<mat-toolbar  class="view gradient-card-header blue darken-2" style="padding:3%!important" color="primary">
  <span>
    Listes des administrateurs
  </span>
  <span fxFlex></span>
  <a mdbBtn  [routerLink]="['/menu/user/edit']"
     mdbTooltip="Ajouter un administrateur" placement="left"
     class="tz-btn-circle m-1 rounded-circle relative waves-light text-center" style="background: #a6c!important;color: aliceblue;"  color="secondary" mdbWavesEffect>
    <i class="fa fa-plus-circle"></i>
  </a>
</mat-toolbar>
<mat-card class="mt-lg-5">
  <form #form = "ngForm">
    <mat-form-field class="col-md-5">
      <input matInput type="text" placeholder="Nom" [(ngModel)] = "utilisateur.firstname" name="nom" #nom = "ngModel">
    </mat-form-field>
    <mat-form-field class="col-md-5">
      <input matInput type="text" placeholder="Prenom" [(ngModel)] = "utilisateur.lastname" name="prenom" #prenom = "ngModel">
    </mat-form-field>
    <button mat-raised-button class="col-md-2" (click)="getListAdmin()">
      Rechercher
    </button>
  </form>
</mat-card>
<section class="mt-lg-5">
  <mat-card>
    <div class="row p-2">
      <div class="col-md-6">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
      <div class="col-md-6 text-right">
        <button class="btn btn-primary" (click)="exportCsv()">Export to CSV</button>
        <button class="btn btn-success" (click)="exportAsXLSX()">Export to XLS</button>
        <button class="btn btn-secondary" (click)="exportPdf()">Export to pdf</button>
      </div>
    </div>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" matSort id="adminListe" class="table">
        <ng-container matColumnDef="matricule">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Matricule</th>
          <td mat-cell *matCellDef="let _admin">ADM - {{_admin.user_id }}</td>
        </ng-container>
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom</th>
          <td mat-cell *matCellDef="let _admin"> {{_admin.lastname }}</td>
        </ng-container>
        <ng-container matColumnDef="prenom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom</th>
          <td mat-cell *matCellDef="let _admin"> {{_admin.firstname}}</td>
        </ng-container>
        <ng-container matColumnDef="adresse">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Adresse</th>
          <td mat-cell *matCellDef="let _admin"> {{_admin.adresse}}
          </td>
        </ng-container>
        <ng-container matColumnDef="contact">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact</th>
          <td mat-cell *matCellDef="let _admin"> {{_admin.contact}}</td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
          <td mat-cell *matCellDef="let _admin"> {{_admin.email}}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action</th>
          <td mat-cell *matCellDef="let _admin">
            <button type="button" mdbBtn color="primary" class=" tz-btn-circle  text-center m-1 relative waves-light"
                    (click)="basicModal.show()"
                    mdbTooltip="Voir details sur {{_admin.lastname }}" placement="top"
                    mdbWavesEffect><i class="fa fa-eye"></i>
            </button>
            <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
                 aria-labelledby="myBasicModalLabel" aria-hidden="true"
                 [config]="{backdrop: false, ignoreBackdropClick: true}">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <h2 class="tz-dialog-title"  mat-dialog-title>
                    Information sur {{_admin.firstname}}
                    <i class="fa fa-user-circle"></i>
                  </h2>
                  <mat-dialog-content>
                    <ul class="list-group">
                      <li class="list-group-item">
                        <table>
                          <tr>
                            <td>Sexe : </td>
                            <td>{{_admin.sexe}}</td>
                          </tr>
                        </table>
                      </li>
                      <li class="list-group-item">
                        <table>
                          <tr>
                            <td>Nom : </td>
                            <td>{{_admin.lastname}}</td>
                          </tr>
                        </table>
                      </li>
                      <li class="list-group-item">
                        <table>
                          <tr>
                            <td>Prénom : </td>
                            <td>{{_admin.firstname}}</td>
                          </tr>
                        </table>
                      </li>
                      <li class="list-group-item">
                        <table>
                          <tr>
                            <td>Age : </td>
                            <td>{{_admin.age}}</td>
                          </tr>
                        </table>
                      </li>
                      <li class="list-group-item">
                        <table>
                          <tr>
                            <td>Adresse : </td>
                            <td>{{_admin.adresse}}</td>
                          </tr>
                        </table>
                      </li>
                      <li class="list-group-item">
                        <table>
                          <tr>
                            <td>Email : </td>
                            <td>{{_admin.email}}</td>
                          </tr>
                        </table>
                      </li>
                      <li class="list-group-item">
                        <table>
                          <tr>
                            <td>Contact : </td>
                            <td>{{_admin.contact}}</td>
                          </tr>
                        </table>
                      </li>
                    </ul>
                    <button type="button" mdbBtn class="d-block tz-modal-close-btn"
                            color="secondary" (click)="basicModal.hide()" mdbWavesEffect>
                      Fermer
                    </button>
                  </mat-dialog-content>
                </div>
              </div>
            </div>
            <button type="button" [routerLink]="['/menu/user/edit/', _admin.user_id]"
                    mdbTooltip="Modifier les informations pour {{_admin.lastname }}" placement="top"
                    mdbBtn color="success" class=" tz-btn-circle  text-center m-1 relative waves-light"
                    mdbWavesEffect>
              <i class="fa fa-edit"></i>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator class="mat-paginator" (page)="findUser()" [pageSizeOptions]="[5, 10, 20, 100]"
                   showFirstLastButtons></mat-paginator>
  </mat-card>
  <app-sk-loading *ngIf="loading"></app-sk-loading>
</section>

