<mat-toolbar class="view gradient-card-header blue darken-2" style="padding:3%!important" color="primary">
  <span *ngIf="!etudiant">
    Gestion des notes de {{names}}
  </span>
  <span *ngIf="etudiant">
    Mes notes
  </span>
  <span fxFlex></span>
  <button (click)="retour()" class="tz-btn-circle m-1 rounded-circle relative waves-light text-center"
          style="background: #a6c!important;color: aliceblue;" color="secondary" routerLinkActive="active-link"
          type="button" mdbBtn
          mdbWavesEffect>
    <i class="fa fa-reply"></i>
  </button>
</mat-toolbar>
<mat-card *ngIf="!etudiant">
  <form #noteForm="ngForm">
    <div class="row">
      <mat-form-field class="col-md-6">
        <mat-select placeholder="Choisissez la matiere" name="matiere"  required
                    [(ngModel)]="paramNote.idmat" (selectionChange)="checkIfUpdate($event)">
          <mat-option *ngFor="let listMatiere of listMatier" [value]="listMatiere.id">
            {{listMatiere.description}}
            Coeff : {{listMatiere.coefficient}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col-md-6">
        <input matInput type="number" placeholder="Note" name="note" [(ngModel)]="paramNote.note" required
               #note="ngModel">
      </mat-form-field>
      <div class="btn-content d-block w-100 text-center">
        <button class="btn btn-primary" (click)="showDetail()">Voir les notes</button>
        <button class="btn btn-secondary"  (click)="addNote(paramNote)" [disabled]="!noteForm.form.valid">Ajouter</button>
      </div>
    </div>
  </form>
</mat-card>
<div *ngIf="details" class="mt-5">
  <mat-card>
    <table mat-table [dataSource]="dataSource" matSort class="full" id="etudiantListe">
      <ng-container matColumnDef="num_inscription" *ngIf="!etudiant">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Classe </th>
        <td mat-cell *matCellDef="let _etudiant"> {{_etudiant.description }} </td>
      </ng-container>
      <ng-container matColumnDef="note">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Coefficient </th>
        <td mat-cell *matCellDef="let _etudiant"> {{_etudiant.coefficient }}</td>
      </ng-container>
      <ng-container matColumnDef="coefficient">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Note </th>
        <td mat-cell *matCellDef="let _etudiant">{{_etudiant.note}} </td>
      </ng-container>
      <ng-container matColumnDef="classe">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Matière </th>
        <td mat-cell *matCellDef="let _etudiant"> {{_etudiant.nomMatiere}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card>
</div>
<app-sk-loading *ngIf="loading"></app-sk-loading>