<mat-toolbar  class="view gradient-card-header blue darken-2" style="padding:3%!important;text-align: center" color="primary">
  <button *ngIf="!etudiant_user" (click)="retour()" class="tz-btn-circle m-1 rounded-circle relative waves-light text-center"
          style="background: #a6c!important;color: aliceblue;" color="secondary" routerLinkActive="active-link"
          type="button" mdbBtn
          mdbTooltip="Retour" placement="right"
          mdbWavesEffect>
    <i class="fa fa-reply"></i>
  </button>
  <div class="text-center tz-text-head">
    Liste des etudiants
  </div>
  <a mdbBtn  [routerLink]="['/menu/add-etudiant']" *ngIf="!etudiant_user && !profs_user"
     class="tz-btn-circle m-1 rounded-circle relative waves-light text-center" style="background: #a6c!important;color: aliceblue;"
     color="secondary" mdbWavesEffect
     mdbTooltip="Ajouter un étudiant" placement="left"
  >
    <i class="fa fa-plus-circle"></i>
  </a>
</mat-toolbar>
<section class="mt-5">
  <mat-card>
  <div class="row p-2">
    <div class="col-md-6">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
    <div class="col-md-6 text-right" *ngIf="!profs_user">
      <button class="btn btn-primary" *ngIf="!etudiant_user" (click)="exportCsv()">Export to CSV</button>
      <button class="btn btn-success" *ngIf="!etudiant_user" (click)="exportAsXLSX()">Export to XLS</button>
      <button class="btn btn-secondary" *ngIf="!etudiant_user" (click)="exportPdf()">Export to pdf</button>
      <button class="btn btn-secondary" *ngIf="etudiant_user" (click)="voirNote()">Voir mes notes</button>
      <button class="btn btn-primary" *ngIf="etudiant_user" (click)="voirEdt()">Emploie du temps</button>
    </div>
  </div>
  <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" matSort class="full" id="etudiantListe">
        <ng-container matColumnDef="matricule" *ngIf="!mobile">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Matricule </th>
          <td mat-cell *matCellDef="let _etudiant"> ETD - {{_etudiant.user_id.user_id }} </td>
        </ng-container>
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
          <td mat-cell *matCellDef="let _etudiant"> {{_etudiant.user_id.lastname }} </td>
        </ng-container>
        <ng-container matColumnDef="prenom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </th>
          <td mat-cell *matCellDef="let _etudiant"> {{_etudiant.user_id.firstname}} </td>
        </ng-container>
        <ng-container matColumnDef="age" *ngIf="!mobile">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Age </th>
          <td mat-cell *matCellDef="let _etudiant"> {{_etudiant.user_id.age}} </td>
        </ng-container>
        <ng-container matColumnDef="adresse" *ngIf="!mobile">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Adresse </th>
          <td mat-cell *matCellDef="let _etudiant"> {{_etudiant.user_id.adresse}}
          </td>
        </ng-container>
        <ng-container matColumnDef="contact" *ngIf="!mobile && !etudiant_user">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact </th>
          <td mat-cell *matCellDef="let _etudiant">  {{_etudiant.user_id.contact}}  </td>
        </ng-container>
        <ng-container matColumnDef="sexe" *ngIf="!mobile">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> sexe </th>
          <td mat-cell *matCellDef="let _etudiant">  {{_etudiant.user_id.sexe}} </td>
        </ng-container>

        <ng-container matColumnDef="action" *ngIf="!etudiant_user">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let _etudiant">
            <a mdbBtn (click)="openPopUpd(_etudiant.user_id);"
               mdbTooltip="Voir details du {{_etudiant.user_id.lastname }} " placement="top"
               class="tz-btn-circle m-1 rounded-circle relative waves-light" color="info">
              <i class="fa fa-eye"></i>
            </a>
            <a *ngIf="!profs_user" mdbBtn routerLink="/menu/user/edit/{{_etudiant.user_id.user_id}}"
               mdbTooltip="Modifier les informations pour {{_etudiant.user_id.lastname }} " placement="top"
               class=" tz-btn-circle  m-1 relative waves-light" color="success" >
              <i class="fa fa-edit"></i>
            </a>
            <a mdbBtn (click)="addNote(_etudiant.NumInscription, idClasseEnfant, _etudiant.user_id.firstname)"
               mdbTooltip="Ajouter des notes pour {{_etudiant.user_id.lastname }} " placement="top"
               class=" tz-btn-circle m-1 rounded-circle relative waves-light text-center" color="primary" >
              <i class="fa fa-bookmark-o"></i>
            </a>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card>
</section>

<app-sk-loading *ngIf="loading"></app-sk-loading>
