<mat-toolbar  class="view gradient-card-header blue darken-2" style="padding:3%!important" color="primary">
  <span>
    Gestion des utilisateurs
  </span>
  <span fxFlex></span>
  <a mdbBtn  [routerLink]="['/menu/user/edit']"
     class="tz-btn-circle m-1 rounded-circle relative waves-light text-center" style="background: #a6c!important;color: aliceblue;"  color="secondary" mdbWavesEffect>
    <i class="fa fa-plus-circle"></i>
  </a>
</mat-toolbar>
<section class="mt-2">
  <mat-card class="mat-card-content">
    <mat-card-header class="mat-card-header">
      <mat-card-title>
        Recherche
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #recherche="ngForm">
        <div class="row">
          <mat-form-field class="col-md-4">
            <input matInput type="text" placeholder="Login" name="login" [(ngModel)]="utilisateur.username"
                   #login="ngModel">
          </mat-form-field>
          <mat-form-field class="col-md-4">
            <input matInput type="text" placeholder="Nom" name="nom" [(ngModel)]="utilisateur.lastname" #nom="ngModel">
          </mat-form-field>
          <mat-form-field class="col-md-4">
            <input matInput type="text" placeholder="Prenom" name="prenom" [(ngModel)]="utilisateur.firstname"
                   #prenom="ngModel">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-md-4">
            <input matInput type="text" placeholder="Email" name="email" [(ngModel)]="utilisateur.email" #email="ngModel">
          </mat-form-field>
          <mat-form-field class="col-md-4">
            <mat-select placeholder="Sexe" name="sexe" [(ngModel)]="utilisateur.sexe" #sexe="ngModel">
              <mat-option value="">Tout</mat-option>
              <mat-option value="Homme">Homme</mat-option>
              <mat-option value="Femme">Femme</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-md-4">
            <mat-select  placeholder="Type" name="type" [(ngModel)]="utilisateur.role" #type="ngModel">
              <mat-option value="">Choisissez le role</mat-option>
              <mat-option *ngFor="let listRole of roles" [value]="listRole.id"> {{listRole.description}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-md-4">
            <input matInput type="number" placeholder="Age" name="age" [(ngModel)]="utilisateur.age" #age="ngModel">
          </mat-form-field>
          <mat-form-field class="col-md-4">
            <input matInput type="text" placeholder="Adresse" name="adresse" [(ngModel)]="utilisateur.adresse"
                   #adresse="ngModel">
          </mat-form-field>
          <mat-form-field class="col-md-4">
            <input matInput type="text" placeholder="Contact" name="contact" [(ngModel)]="utilisateur.contact"
                   #contact="ngModel">
          </mat-form-field>
        </div>
        <div class="right text-center">
          <a (click)="getListEtudiants(utilisateur)">
            <button mat-fab>
              <mat-icon aria-label="chercher un utilisateur">search</mat-icon>
            </button>
          </a>
        </div>
      </form>
      <br/>
    </mat-card-content>
  </mat-card>
</section>

<mat-card>
  <div class="row p-2">
    <div class="col-md-6">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
    <div class="col-md-6 text-right">
      <button class="btn btn-primary" (click)="exportCsv()">Export to CSV</button>
      <button class="btn btn-success" (click)="exportAsXLSX()">Export to XLS</button>
      <button class="btn btn-secondary" (click)="exportPdf()">Export to pdf</button>
    </div>
  </div>
  <div class="table-responsive">
    <table mat-table [dataSource]="dataSource" matSort class="full"  id="userListe">
      <ng-container matColumnDef="matricule">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Matricule</th>
        <td mat-cell *matCellDef="let _etudiant"> {{_etudiant.user_id }}</td>
      </ng-container>
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom</th>
        <td mat-cell *matCellDef="let _etudiant"> {{_etudiant.lastname }}</td>
      </ng-container>
      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom</th>
        <td mat-cell *matCellDef="let _etudiant"> {{_etudiant.firstname}}</td>
      </ng-container>
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Age</th>
        <td mat-cell *matCellDef="let _etudiant" class="prix"> {{_etudiant.age}}</td>
      </ng-container>
      <ng-container matColumnDef="adresse">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Adresse</th>
        <td mat-cell *matCellDef="let _etudiant"> {{_etudiant.adresse}}
        </td>
      </ng-container>
      <ng-container matColumnDef="contact">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact</th>
        <td mat-cell *matCellDef="let _etudiant"> {{_etudiant.contact}}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
        <td mat-cell *matCellDef="let _etudiant"> {{_etudiant.email}}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action</th>
        <td mat-cell *matCellDef="let _etudiant">
          <a mdbBtn  [routerLink]="['/menu/user/edit/', _etudiant.user_id]"
             mdbTooltip="Modifier les informations pour {{_etudiant.lastname }}" placement="top"
             class=" tz-btn-circle  text-center m-1 relative waves-light "
          color="success">
            <i class="fa fa-edit" style="font-size: 1rem;"></i>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator class="mat-paginator" (page)="findUser()" [pageSizeOptions]="[5, 10, 20, 100]"
                 showFirstLastButtons></mat-paginator>
</mat-card>
<app-sk-loading *ngIf="loading"></app-sk-loading>
