<div class="view gradient-card-header blue darken-2">
  <h4 class="h4-responsive text-white"> Ajouter un nouveau etablissement </h4>
</div>

<mat-card>
  <form #etsform="ngForm" class="col-md-12 mt-5">
    <mat-form-field class="col-md-12">
      <input matInput placeholder="Nom d'etablissement"
             id="nom" type="text" name="nom" [(ngModel)]="sk_etablissement.nom" #login="ngModel">
    </mat-form-field>
    <mat-form-field class="col-md-12">
      <input matInput placeholder="Contact d'etablissement"
             id="contact" type="text" name="contact" [(ngModel)]="sk_etablissement.contact" #login="ngModel">
    </mat-form-field>
    <mat-form-field class="col-md-12">
      <input matInput placeholder="Adresse d'etablissement"
             id="adresse" type="text" name="adresse" [(ngModel)]="sk_etablissement.adresse" #login="ngModel">
    </mat-form-field>
    <button class="btn btn-success btn-rounded d-block w-100" type="submit" (click)="skSave(sk_etablissement)">Ajouter</button>
  </form>
</mat-card>
<app-sk-loading *ngIf="loading"></app-sk-loading>