<section class="mt-lg-5">
    <div class="row" *ngIf="!superadmin">
      <a class="col-md-3" routerLink="/menu/etudiant">
        <div class="card-counter primary">
          <i class="fa fa-group"></i>
          <span class="count-numbers">{{listEtd}}</span>
          <span class="count-name">Etudiants</span>
        </div>
      </a>

      <a class="col-md-3"  *ngIf="!etudiant" routerLink="/menu/profs">
        <div class="card-counter danger">
          <i class="fa  fa-user-secret"></i>
          <span class="count-numbers">{{listProfs}}</span>
          <span class="count-name">Professeurs</span>
        </div>
      </a>

      <a class="col-md-3" *ngIf="etudiant" (click)="matProfs()">
        <div class="card-counter danger">
          <i class="fa  fa-user-secret"></i>
          <span class="count-numbers">{{listProfs}}</span>
          <span class="count-name">Matiere et Profs</span>
        </div>
      </a>

      <a class="col-md-3" routerLink="/menu/salle">
        <div class="card-counter success">
          <i class="fa fa-home"></i>
          <span class="count-numbers">{{compteSalles}}</span>
          <span class="count-name">Salles</span>
        </div>
      </a>
      <a class="col-md-3" *ngIf="!etudiant">
        <div class="card-counter info">
          <i class="fa fa-money"></i>
          <span class="count-numbers">5</span>
          <span class="count-name">Payements</span>
        </div>
      </a>
      <a class="col-md-3" *ngIf="etudiant"  (click)="edt()">
        <div class="card-counter info">
          <i class="fa fa-calendar"></i>
          <span class="count-numbers">1</span>
          <span class="count-name">Emploi du temps</span>
        </div>
      </a>
    </div>
    <div class="row" *ngIf="superadmin">
      <a class="col-md-3" routerLink="/menu/ets">
        <div class="card-counter primary">
          <i class="fa fa-group"></i>
          <span class="count-numbers">{{countEts}}</span>
          <span class="count-name">Etablissement</span>
        </div>
      </a>

      <a class="col-md-3">
        <div class="card-counter danger">
          <i class="fa  fa-user-secret"></i>
          <span class="count-numbers">{{listEtd}}</span>
          <span class="count-name">Etudiant liste</span>
        </div>
      </a>

    </div>
</section>

<section>
  <div class="row">
    <div class="col-md-12 mx-auto my-5">
      <div style="display: block">
        <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels" [colors]="chartColors" [options]="chartOptions"
                [legend]="true" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mx-auto text-center">
      <div class="row">
        <div class="col-md-4">
          <button class="btn btn-primary waves-light"
                  mdbWavesEffect (click)="etatsEtudiants()">Etats étudiants</button>
        </div>
        <div class="col-md-4">
          <button class="btn btn-primary waves-light"
                  mdbWavesEffect (click)="statsProfsEtudiant()">Stats Profs et salle</button>
        </div>
        <div class="col-md-4">
          <button class="btn btn-primary waves-light"
                  mdbWavesEffect (click)="statsEtablissement()">Etats Etablissement</button>
        </div>
      </div>
    </div>
  </div>
</section>
<app-sk-loading *ngIf="loading"></app-sk-loading>
