<mat-toolbar class="view gradient-card-header blue darken-2" style="padding:3%!important" color="primary">
  <span>
    Liste des salles
  </span>
  <span fxFlex></span>
  <button *ngIf="!etudiant && !profs" class="tz-btn-circle m-1 rounded-circle relative waves-light text-center"
          style="background: #a6c!important;color: aliceblue;" color="secondary" routerLinkActive="active-link"
          type="button" mdbBtn
          mdbTooltip="Ajouter une salle" placement="left"
          mdbWavesEffect (click)="openDialog()">
    <i class="fa fa-plus-circle"></i>
    Ajout une salle
  </button>
</mat-toolbar>

<div class="maskSpinner" *ngIf="loading">
  <app-radar-spinner
    [animationDuration]="4000"
    [size]="200"
    [color]="'#2e6bb1'"
  ></app-radar-spinner>
</div>

<section class="mt-5">
  <div class="row">
    <div class="col-md-6 text-left">
      <button routerLinkActive="active-link" type="button" mdbBtn color="secondary"
              mdbWavesEffect (click)="reserveModal.show()">
        <!--<i class="fa fa-plus-circle m-2"></i>-->
        <i class="fa fa-calendar-check-o m-2"></i>
        Reserver une Salle
      </button>
      <div mdbModal #reserveModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
           aria-labelledby="myBasicModalLabel"
           [config]="{backdrop: false, ignoreBackdropClick: false}" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <h2 class="tz-dialog-title"  mat-dialog-title>
              Réservation salle
              <i class="fa fa-home"></i>
            </h2>
            <mat-dialog-content>
              <form #salleformReserv="ngForm" class="col-md-12 mt-5">
                <mat-form-field class="col-md-12">
                  <mat-select placeholder="Selectioner une salle" name="description" [(ngModel)]="reservation.id"
                              required>
                    <mat-option *ngFor="let list of listSalleLibre" value="{{list.id}}">{{list.nom}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="col-md-12">
                  <input  autocomplete="off"  placeholder="Début réservation"   matInput [owlDateTimeTrigger]="dt12" [owlDateTime]="dt12" name="dateDebut"
                         [(ngModel)]="reservation.dateDebut" required  #datedebut = "ngModel">
                  <owl-date-time #dt12></owl-date-time>
                </mat-form-field>
                <mat-form-field class="col-md-12">
                  <input  autocomplete="off" readonly="readonly"  placeholder="Fin réservation" matInput
                          [owlDateTimeTrigger]="dt13" [owlDateTime]="dt13" name="dateFin"
                         [(ngModel)]="reservation.dateFin"  required #dateFin = "ngModel">
                  <owl-date-time #dt13></owl-date-time>
                </mat-form-field>
                <div *ngIf="error.isError" class="alert alert-danger">
                  {{ error.errorMessage }}
                </div>
                <mat-form-field class="col-md-12">
                  <mat-select placeholder="Classe" (blur)="compareTwoDates()" name="class" [(ngModel)]="reservation.classe" required>
                    <mat-option *ngFor="let classe of classe_enfant" value="{{classe.id}}">
                      {{classe.description}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <button type="submit" mdbBtn class="d-block tz-modal-close-btn"
                        color="secondary" (click)="reservations()" [disabled]="!salleformReserv.form.valid" mdbWavesEffect>
                  Reserver
                </button>

              </form>
            </mat-dialog-content>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-card>
    <div class="row p-2">
      <div class="col-md-12"  *ngIf="etudiant">
        <mat-form-field class="w-100">
          <input  class="w-100" matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
      <div class="col-md-6"  *ngIf="!etudiant">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
      <div class="col-md-6 text-right" *ngIf="!etudiant && profs">
        <button class="btn btn-primary" (click)="exportCsv()">Export to CSV</button>
        <button class="btn btn-success" (click)="exportAsXLSX()">Export to XLS</button>
        <button class="btn btn-secondary" (click)="exportPdf()">Export to pdf</button>
      </div>
    </div>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" id="salleliste">
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="text-center"> ID</th>
          <td mat-cell *matCellDef="let _salle" class="text-center">
                      <span *ngIf="_salle">
                          {{ _salle.id}}
                      </span>
            <span *ngIf="!_salle">
                          0
                      </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Nom</th>
          <td mat-cell *matCellDef="let _salle" class="text-center">
                      <span *ngIf="_salle">
                          {{ _salle.nom}}
                      </span>
            <span *ngIf="!_salle">
                          0
                      </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="debut">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Debut occupation</th>
          <td mat-cell *matCellDef="let _salle" class="text-center">
              <span *ngIf="_salle">
                  {{ _salle.date_debut_occupation | date:'dd-MM-yyyy HH:mm'}}
              </span>
          </td>
        </ng-container>


        <ng-container matColumnDef="fin">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Fin occupation</th>
          <td mat-cell *matCellDef="let _salle" class="text-center">
            <span *ngIf="_salle">
              {{ _salle.date_fin_occupation | date:'dd-MM-yyyy HH:mm'}}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="classe">
          <th mat-header-cell *matHeaderCellDef class="text-center"> classe</th>
          <td mat-cell *matCellDef="let _salle" class="text-center">
              <span *ngIf="_salle.classe">
                  {{ _salle.classe.description}}
              </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="occupation">
          <th mat-header-cell *matHeaderCellDef class="text-center"> classe</th>
          <td mat-cell *matCellDef="let _salle" class="text-center">
              <span *ngIf="_salle.classe">
                  {{ _salle.classe.occupation}}
              </span>
          </td>
        </ng-container>


        <ng-container matColumnDef="action"  *ngIf="!etudiant">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Action</th>
          <td mat-cell *matCellDef="let _salle" class="text-center">
            <a mdbBtn data-toggle="modal" (click)="detailsModal.show()" data-target="#detailsModal"
               mdbTooltip="Voir details sur {{_salle.nom}}" placement="top"
               class="tz-btn-circle m-1 rounded-circle relative waves-light" color="info">
              <i class="fa fa-eye"></i>
            </a>
            <div mdbModal #detailsModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
                 aria-labelledby="myBasicModalLabel"
                 [config]="{backdrop: false, ignoreBackdropClick: false}" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <h2 class="tz-dialog-title"  mat-dialog-title>
                    {{_salle.nom}}
                    <i class="fa fa-home"></i>
                  </h2>
                  <mat-dialog-content>
                    <ul class="list-group">
                      <li class="list-group-item">
                        <table>
                          <tr>
                            <td>Salle numéro : </td>
                            <td>{{_salle.id}}</td>
                          </tr>
                        </table>
                      </li>
                      <li class="list-group-item">
                        <table>
                          <tr>
                            <td>Nom classe : </td>
                            <td>{{_salle.nom}}</td>
                          </tr>
                        </table>
                      </li>
                      <li class="list-group-item" *ngIf=" _salle.date_debut_occupation">
                        <table>
                          <tr>
                            <td>Début réservation : </td>
                            <td>{{ _salle.date_debut_occupation | date:'dd-MM-yyyy HH:mm'}}</td>
                          </tr>
                        </table>
                      </li>
                      <li class="list-group-item" *ngIf="_salle.date_fin_occupation">
                        <table>
                          <tr>
                            <td>Début réservation : </td>
                            <td>{{ _salle.date_fin_occupation | date:'dd-MM-yyyy HH:mm'}}</td>
                          </tr>
                        </table>
                      </li>
                      <li class="list-group-item"  *ngIf="_salle.classe">
                        <table>
                          <tr>
                            <td>Réservateur : </td>
                            <td>
                          <span *ngIf="_salle.classe">
                              {{ _salle.classe.description}}
                          </span>
                            </td>
                          </tr>
                        </table>
                      </li>
                    </ul>
                    <button type="button" mdbBtn class="d-block tz-modal-close-btn"
                            color="secondary" (click)="detailsModal.hide()" mdbWavesEffect>
                      Fermer
                    </button>
                  </mat-dialog-content>
                </div>
              </div>

            </div>

            <!--fin modal details-->
            <a mdbBtn data-toggle="modal" *ngIf="!etudiant && !profs " data-target="#editModal"
               mdbTooltip=" Modifier {{_salle.nom}}" placement="top"
               class=" tz-btn-circle  m-1 relative waves-light" color="success" (click)="editModal.show()">
              <i class="fa fa-edit"></i>
            </a>
            <!--edit modals-->
            <div mdbModal #editModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
                 aria-labelledby="myBasicModalLabel"
                 [config]="{backdrop: false, ignoreBackdropClick: false}" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="editModal.hide()">
                      <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title w-100">{{_salle.nom}} <i class="fa fa-home"></i></h4>
                  </div>
                  <div class="modal-body">
                    <form action="">
                      <div class="md-form m-2">
                        <label data-error="wrong" data-success="right">Coefficient</label>
                        <input type="text" name="description"
                               value="{{_salle.nom}}" [(ngModel)]="_salle.nom" class="form-control validate"
                               mdbInputDirective>
                      </div>
                      <div class="text-center w-100">
                        <a routerLink="/menu/salle" class="btn btn-success btn-rounded float-right" type="submit"
                           style="width: 35%"
                           (click)="editModal.hide() ;
                           editSalle(_salle.id, description = _salle.nom)">Modifier</a>
                        <a routerLink="/menu/salle" (click)="editModal.hide()"
                           class="btn btn-warning btn-rounded float-left" style="width: 35%" type="submit">Cancel</a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!--fin modal edit-->
            <a mdbBtn data-toggle="modal" *ngIf="!etudiant && !profs"  data-target="#detailsModal" (click)="deleteModal.show()"
               mdbTooltip="Supprimer {{_salle.nom}}" placement="top"
               class=" tz-btn-circle  m-1 relative waves-light" color="danger">
              <i class="fa fa-trash"></i>
            </a>
            <!--modal delete-->
            <div mdbModal #deleteModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
                 [config]="{backdrop: false, ignoreBackdropClick: false}" aria-hidden="true"
                 aria-labelledby="myBasicModalLabel">
              <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModal.hide()">
                      <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title w-100">Supprimer <i class="fa fa-home"></i></h4>
                  </div>
                  <div class="modal-body d-flex">
                    <button type="button" mdbBtn color="secondary" class="waves-light w-50" aria-label="Close"
                            (click)="deleteModal.hide()" mdbWavesEffect>Non
                    </button>
                    <a routerLink="/menu/salle" type="button" mdbBtn color="primary"
                       class="relative waves-light w-50 mt-2 h-50" mdbWavesEffect
                       (click)="deleteModal.hide(); deleteSalle(_salle.id)">Oui</a>
                  </div>
                </div>
              </div>
            </div>
            <!--fin modal delete-->

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card>
</section>



