<mat-toolbar class="view gradient-card-header blue darken-2" style="padding:3%!important" color="primary">
  <span>
    Liste des classes
  </span>
    <span fxFlex></span>
    <a *ngIf="profs" mdbBtn [routerLink]="['/menu/add-eft']"
       class="tz-btn-circle m-1 rounded-circle relative waves-light text-center"
       style="background: #a6c!important;color: aliceblue;" color="secondary" mdbWavesEffect
       mdbTooltip="Ajouter une classe" placement="left">
        <i class="fa fa-plus-circle"></i>
    </a>
</mat-toolbar>
<section class="mt-5">
    <mat-card>
        <div class="row p-2">
            <div class="col-md-6" *ngIf="profs">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
            </div>
            <div class="col-md-12" *ngIf="!profs">
                <mat-form-field class="w-100">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
            </div>
            <div class="col-md-6 text-right" *ngIf="profs">
                <button class="btn btn-primary" (click)="exportCsv()">Export to CSV</button>
                <button class="btn btn-success" (click)="exportAsXLSX()">Export to XLS</button>
                <button class="btn btn-secondary" (click)="exportPdf()">Export to pdf</button>
            </div>
        </div>

        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" style="width: 100%" id="classListe">
                <ng-container matColumnDef="numero">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Numéro de classe</th>
                    <td mat-cell *matCellDef="let _classe" class="text-center"> {{_classe.id}} </td>
                </ng-container>
                <ng-container matColumnDef="nom">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Nom</th>
                    <td mat-cell *matCellDef="let _classe" class="text-center"> {{_classe.description}} </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="text-center w-50"> Action</th>
                    <td mat-cell *matCellDef="let _classe" class="text-center">
                        <a mdbBtn data-toggle="modal" (click)="detailsModal.show()" data-target="#detailsModal"
                           class="tz-btn-circle m-1 rounded-circle relative waves-light"
                           mdbTooltip="Voir details sur {{_classe.description}}" placement="top" color="info">
                            <i class="fa fa-eye"></i>
                        </a>

                        <div mdbModal #detailsModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
                             aria-labelledby="myBasicModalLabel"
                             [config]="{backdrop: false, ignoreBackdropClick: false}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <h2 class="tz-dialog-title" mat-dialog-title>
                                        {{_classe.description}}
                                        <i class="fa fa-home"></i>
                                    </h2>
                                    <mat-dialog-content>
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <table>
                                                    <tr>
                                                        <td>Numéro classe :</td>
                                                        <td>{{_classe.id}}</td>
                                                    </tr>
                                                </table>
                                            </li>
                                            <li class="list-group-item">
                                                <table>
                                                    <tr>
                                                        <td>Nom classe :</td>
                                                        <td>{{_classe.description}}</td>
                                                    </tr>
                                                </table>
                                            </li>
                                        </ul>
                                        <button type="button" mdbBtn class="d-block tz-modal-close-btn"
                                                color="secondary" (click)="detailsModal.hide()" mdbWavesEffect>
                                            Fermer
                                        </button>
                                    </mat-dialog-content>
                                </div>
                            </div>
                        </div>

                        <a mdbBtn (click)="checkListEtudiant(_classe.id)"
                           mdbTooltip="Voir liste matiere du {{_classe.description}}" placement="top"
                           class=" tz-btn-circle  m-1 relative waves-light" color="secondary">
                            <i class="fa fa-book"></i>
                        </a>

                        <a mdbBtn *ngIf="profs" data-toggle="modal" data-target="#editModal"
                           mdbTooltip="Modifier {{_classe.description}}" placement="top"
                           class=" tz-btn-circle  m-1 relative waves-light" color="success" (click)="editModal.show()">
                            <i class="fa fa-edit"></i>
                        </a>
                        <div mdbModal #editModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
                             aria-labelledby="myBasicModalLabel"
                             [config]="{backdrop: false, ignoreBackdropClick: false}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <h2 class="tz-dialog-title" mat-dialog-title>
                                        Modifier {{_classe.description}}
                                        <i class="fa fa-home"></i>
                                    </h2>
                                    <mat-dialog-content>
                                        <div class="modal-body">
                                            <div class="md-form mb-5">
                                                <input type="text" name="id" id="orangeForm-name"
                                                       value="{{_classe.id}}" class="form-control w-100 d-none validate">
                                                <mat-form-field class="col-md-12 w-100">
                                                    <mat-select name="class" required [(ngModel)]="_classe.parent.id" #parentid="ngModel">
                                                        <mat-option *ngFor="let niveau of listNiveau" [value]="niveau.id">
                                                            {{niveau.description}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <mat-form-field class="col-md-12">
                                                    <input matInput type="text"  name="description" required
                                                           value="{{_classe.description}}" [(ngModel)]="_classe.description"
                                                           #descriptions="ngModel">
                                                </mat-form-field>
                                                <div class="d-flex">
                                                    <button type="button" mdbBtn color="secondary" class="waves-light w-50"
                                                            aria-label="Close" (click)="editModal.hide()" mdbWavesEffect>Annuler
                                                    </button>
                                                    <button type="submit" value="submit" mdbBtn color="primary"
                                                            (click)="editModal.hide();
                                                            editClasse(id =_classe.id,
                                                            parent = _classe.parent,
                                                            description = _classe.description )"
                                                            class="relative waves-light  w-50" mdbWavesEffect>
                                                        Modifier
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-dialog-content>
                                </div>
                            </div>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card>
</section>

<div class="maskSpinner" *ngIf="loading">
    <app-radar-spinner
            [animationDuration]="4000"
            [size]="200"
            [color]="'#2e6bb1'"
    ></app-radar-spinner>
</div>