<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    class="mat-sidenav sidenav"
    #drawer
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)" style="overflow-y: scroll!important;margin-bottom: 55px!important;">

    <mat-toolbar color="primary" class="header-box-shadow">
        <span>Techzara - Sekoliko</span>
    </mat-toolbar>
    <div class="my-2" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div>
        <a routerLink="/menu/principal-interface">
          <img class="circle" src="assets/icons/logo.jpeg" width="100" height="100" style="border-radius:50%;margin-top: 15px">
        </a>
        <br/>
        <a>
          <span class="lead">Sekoliko</span>
        </a>
      </div>
    </div>
    <div class="mt-3" *ngFor="let menuItem of menuItems.getMenuitem()">
      <mat-nav-list class="p-2" dense *ngIf="menuItem.child.length > 0;">
        <div *ngFor="let child of menuItem.child">
          <a [routerLink]="child.state" >
            <mat-list-item routerLinkActive="selected">
              <div class="row">
                <mat-icon>{{ child.icon }}</mat-icon>
                <span class="item">{{child.name}}</span>
              </div>
            </mat-list-item>
          </a>
        </div>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="header-box-shadow">
      <div class="row" style="width: 100%;">
        <div class="grid">
          <button mat-icon-button (click)="drawer.toggle()" >
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
        </div>
        <div class="grid example sk-menu-profil">
          <label>
            <span>Bienvenue {{userProfile.username}}</span>
            <button mat-icon-button [matMenuTriggerFor]="menu" style="margin-right: 5px">
              <mat-icon>account_circle</mat-icon>
            </button>
          </label>
          <mat-menu #menu="matMenu" overlapTrigger="false">
            <button mat-menu-item>
              <mat-icon>account_circle</mat-icon>
              <a routerLink="/menu/profile">My Account</a>
            </button>
            <button mat-menu-item (click)="logOut()">
              <mat-icon>navigate_next</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </mat-toolbar>
    <div class="card card-cascade narrower">
      <div class="content-card " style="padding: 2%">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

