<div class="view gradient-card-header blue darken-2">
  <h4 class="h4-responsive text-white" *ngIf="!update"> Ajout nouveau matiere </h4>
  <h4 class="h4-responsive text-white" *ngIf="update"> Modifier matiere </h4>
</div>
<section class="mt-5">
  <mat-card>
    <form #salleform="ngForm" class="col-md-12 mt-5">
      <mat-form-field class="col-md-12">
        <input matInput placeholder="Nom matiere" id="nom" type="text" name="description" required
               [(ngModel)]="_matiere.nom"
               #description="ngModel">
      </mat-form-field>
      <mat-form-field class="col-md-12">
        <input matInput placeholder="Coefficient" id="coeff" type="text" name="coefficient" required
               [(ngModel)]="_matiere.coeff"
               #coeff="ngModel">
      </mat-form-field>
      <mat-form-field class="col-md-12">
        <mat-select placeholder="Classe" name="class" required [(ngModel)]="_matiere.class" #class="ngModel">
          <mat-option *ngFor="let classes of classe" [value]="classes.id">
            {{classes.description}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-md-12">
        <mat-select placeholder="Prof" required name="prof" [(ngModel)]="_matiere.prof" #prof="ngModel">
          <mat-option *ngFor="let profs of listProff" [value]="profs.user_id">{{profs.lastname}} {{profs.firstname}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button class="btn btn-success btn-rounded d-block w-100" [disabled]="!salleform.form.valid" type="submit"
              (click)="save(_matiere)">Ajouter
      </button>
    </form>
  </mat-card>
</section>

<app-sk-loading *ngIf="loading"></app-sk-loading>
