<mat-toolbar class="view gradient-card-header blue darken-2" style="padding:3%!important" color="primary">
  <span *ngIf="!etudiant_user && !profs">
    Liste niveau
  </span>
    <div class="text-center w-100" *ngIf="profs">
        Liste niveau
    </div>
    <span *ngIf="etudiant_user">
        Liste des etudiants
    </span>
    <span fxFlex></span>
    <a mdbBtn *ngIf="!profs" [routerLink]="['/menu/add-classe']"
       class="tz-btn-circle m-1 rounded-circle relative waves-light text-center"
       style="background: #a6c!important;color: aliceblue;" color="secondary" mdbWavesEffect>
        <i class="fa fa-plus-circle"></i>
    </a>
</mat-toolbar>
<div class="maskSpinner" *ngIf="loading">
    <app-radar-spinner
            [animationDuration]="4000"
            [size]="200"
            [color]="'#2e6bb1'"
    ></app-radar-spinner>
</div>
<section class="mt-lg-5">
    <mat-card>
        <div class="col-md-12">
            <mat-form-field class="w-100">
                <input class="w-100" matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
        </div>
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" class="w-100" id="niveauListe">
                <!-- Position Column -->
                <ng-container matColumnDef="ref">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Niveau Ref</th>
                    <td mat-cell *matCellDef="let _niveau" class="text-center"> {{_niveau.id}}</td>
                </ng-container>
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Niveau Nom</th>
                    <td mat-cell *matCellDef="let _niveau" class="text-center"> {{_niveau.description}}</td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Action</th>
                    <td mat-cell *matCellDef="let _niveau" class="text-center">
                        <a mdbBtn mdbTooltip="Liste des étudiants dans une classe" placement="top" data-toggle="modal"
                           data-target="#detailsModal" (click)="checkEnfant(_niveau.id)"
                           class=" tz-btn-circle  m-1 relative waves-light" color="primary">
                            <i class="fa fa-external-link"></i>
                        </a>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card>
</section>


