<mat-toolbar  class="view gradient-card-header blue darken-2" style="padding:3%!important;text-align: center" color="primary">
  <button (click)="retour()" class="tz-btn-circle m-1 rounded-circle relative waves-light text-center"
          style="background: #a6c!important;color: aliceblue;" color="secondary" routerLinkActive="active-link"
          type="button" mdbBtn
          mdbTooltip="retour " placement="right"
          mdbWavesEffect>
    <i class="fa fa-reply"></i>
  </button>
  <div class="text-center tz-text-head" style="width: inherit">
    Liste des classes
  </div>
  <a mdbBtn  [routerLink]="['/menu/add-eft']"
     mdbTooltip="Ajouter un nouveau classe " placement="left"
     class="tz-btn-circle m-1 rounded-circle relative waves-light text-center" style="background: #a6c!important;color: aliceblue;"
     color="secondary" mdbWavesEffect>
    <i class="fa fa-plus-circle"></i>
  </a>
</mat-toolbar>
<section class="mt-5">
  <mat-card>
      <div class="col-md-12">
        <mat-form-field class="w-100">
          <input  class="w-100" matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
      <table mat-table [dataSource]="dataSource" class="w-100" id="niveauListe">
        <!-- Position Column -->
        <ng-container matColumnDef="ref">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Classe Ref</th>
          <td mat-cell *matCellDef="let _classe" class="text-center"> CLASSE - {{_classe.id}}</td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Classe Nom</th>
          <td mat-cell *matCellDef="let _classe" class="text-center"> {{_classe.description}}</td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Action</th>
          <td mat-cell *matCellDef="let _classe" class="text-center">
            <a mdbBtn  data-toggle="modal" data-target="#detailsModal"
               mdbTooltip="Voir liste des etudiant en {{_classe.description}} " placement="top"
               (click)="checkListEtudiant(_classe.id)"
               class=" tz-btn-circle  m-1 relative waves-light" color="primary">
              <i class="fa fa-list"></i>
            </a>
            <a mdbBtn mdbTooltip="Voir l'emploie du temps du {{_classe.description}}" placement="top"
               (click)="checkListEdt(_classe.id)"
               class=" tz-btn-circle  m-1 relative waves-light" color="secondary">
              <i class="fa fa-calendar"></i>
            </a>

          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card>
</section>
<app-sk-loading *ngIf="loading"></app-sk-loading>
