<div class="view gradient-card-header blue darken-2">
  <h4 class="h4-responsive text-white">Fonction du Prof N°: {{idProf}} </h4>
</div>
<form #form="ngForm">

</form>
<app-sk-loading *ngIf="loading"></app-sk-loading>
