<h2 class="tz-dialog-title"  mat-dialog-title>
    Ajout nouvelle salle
    <i class="fa fa-home"></i>
</h2>
<mat-dialog-content>
    <form #salleform="ngForm" class="col-md-12 mt-5">
        <mat-form-field class="col-md-12">
            <input matInput placeholder="Nom salle" id="nom" type="text" name="description" required [(ngModel)]="salle.description"
                   #login="ngModel">
        </mat-form-field>
        <button type="submit" mdbBtn class="d-block tz-modal-close-btn"
                color="secondary" [disabled]="!salleform.form.valid" (click)="save(salle)" mdbWavesEffect>
            Ajouter
        </button>
    </form>
</mat-dialog-content>



<app-sk-loading *ngIf="loading"></app-sk-loading>
